@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Bebas Neue';
}

body {
  background-color: #a64dff;
}

h1 {
  text-align: center;
  font-size: 75px;
  color: white;
}

p {
  text-align: center;
  font-size: 30px;
}

.signin-signup-toggle {
  text-align: center;
}

.square {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  font-size: 75px;
  background-color: #a64dff;
  opactiy: .3;
  color: white;
}

.right {
  border-right: 1px solid white;
}

.bottom {
  border-bottom: 1px solid white;
}

.left {
  border-left: 1px solid white;
}

.top {
  border-top: 1px solid white;
}





.sign-up {
  text-align: center;
}

.sign-in {
  text-align: center;
}

.change-password {
  text-align: center;
}
